PORT=3200
JWT_SECRET=1304199813041998
BASE_JIRA_URL=https://arrowtech02.atlassian.net
ARROW03_JIRA_URL=https://arrowtech03.atlassian.net
ARROW04_JIRA_URL=https://arrowtech04.atlassian.net
LPIC_JIRA_URL=https://arrowtech.atlassian.net
DB_HOST=
DB_PORT=
DB_NAME=jira_qcd
DB_USER=
DB_PASSWORD=
CLIENT_URL=https://qcd.arrow-tech.vn
BASE_API_URL=

# Gmail SMTP server Configuration
GMAIL_SERVICE_NAME=gmail
GMAIL_SERVICE_HOST=smtp.google.com
GMAIL_SERVICE_SECURE=false
GMAIL_SERVICE_PORT=587
GMAIL_USER_NAME=jira.qcd@gmail.com
GMAIL_USER_PASSWORD=Arrow.123

#Slack
SLACK_URL=https://hooks.slack.com/services/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

#Auth
JIRA_USERNAME=
API_TOKEN=

# File upload
FILE_DIRECTORY=uploads